<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/styles/styles.css}">
    <title>Agregar</title>
</head>
<body>
    <div class="tabla">
        <form action="#" th:action="@{/agregarEmpresa}" th:object="${empresa}" method="post">
            <div class="mb-3">
                <label for="nit" class="form-label">Nit</label>
                <input type="number" class="form-control" id="nit" th:field="*{nit}" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" th:field="*{nombre}">
            </div>
            <div class="mb-3">
                <label for="direccion" class="form-label">Direccion</label>
                <input type="text" class="form-control" id="direccion" th:field="*{direccion}">
            </div>
            <div class="mb-3">
                <label for="telefono" class="form-label">Telefono</label>
                <input type="text" class="form-control" id="telefono" th:field="*{telefono}">
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
    
</body>
</html>